@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
.ant-table-footer {
  padding: 16px 0 0 0;
  background: white;
}

// 全局圆角  输入框 选择框 文本域
.ant-input-affix-wrapper,
.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-form-item-control-input-content > textarea {
  border-radius: 4px;
}
// 全局按钮圆角
button {
  border-radius: 6px !important;
}
.ant-tag {
  border-radius: 8px !important;
}





.ant-layout-sider-children {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%) !important;
}
.ant-menu-sub {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%) !important;
}
.ant-menu-item {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
//.ant-pro-global-header {
//  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
//}
//.ant-layout{
//  min-height: 100vh;
//  background-image: linear-gradient(-225deg,#D7FFFE 60%, #FFFEFF 20%, #D7FFFE 60%);
//}

